:root {
    --background: "#fff";
    --buttonColor: "#fff";
    --cardColor: "#fff";
    --dropdownColor: "#fff";
    --dropdownElementColor: "#fff";
    --inputBorderColor: "#fff";
    --inputColor: "#fff";
    --navbarColor: "#fff";
    --textColor: "#fff";
    --themeTogglerColor: "#fff";
}
